# 서비스

In [2]:
import pandas as pd
import numpy as np
import random
import math
from sklearn.linear_model import LinearRegression

In [3]:
def dist (A,B):
    return  np.linalg.norm(np.asarray(A)-np.asarray(B))

In [4]:
def dist2 (A,B):
    return np.dot(A[1], B[1]) / (math.sqrt(np.dot(A[1],A[1])) * math.sqrt(np.dot(B[1],B[1])))

In [5]:
df = pd.read_csv("vector.csv", encoding="cp949")
df = df.drop("Unnamed: 0", axis = 1)
df["constant"] = 1
df["review"] = 0 

df.head()

,0,Unnamed: 2,1,2,3,4,5,6,7,8,...,93,94,95,96,97,98,99,100,constant,review
0,Buen Retiro Park,"40.4152606,-3.6866882",0.006074,0.015016,-0.019423,0.018564,-0.009759,-0.006886,-0.018433,-0.013909,...,-0.008650,-0.006834,-0.026950,0.027968,-0.008397,-0.025122,0.019847,0.017991,1,0
1,Royal Palace of Madrid,"40.417955,-3.7165007",-0.008575,0.011072,0.021896,0.037498,-0.007062,-0.015904,-0.032011,-0.022889,...,0.009787,0.014713,0.012928,0.059610,0.005517,-0.011633,0.039154,0.022247,1,0
2,"Plaza Mayor, Madrid","40.415511,-3.7095896",-0.059536,0.003807,0.026556,-0.021477,0.013773,0.000883,-0.025927,0.016453,...,-0.016771,-0.005197,0.001791,0.001192,0.014492,0.004249,-0.014706,0.040941,1,0
3,Museo Nacional Del Prado,"40.4137818,-3.6943158,17",-47.174987,-119.608533,129.087028,94.379929,14.554171,-107.823051,-32.864552,-121.548170,...,124.593445,-99.328298,18.251329,118.156372,-67.321282,-125.160456,92.102760,-16.275768,1,0
4,Puerta del Sol,"40.4167278,-3.7055274",-0.015574,-0.005585,0.023721,0.016333,-0.020572,-0.008376,-0.034828,0.026511,...,-0.003937,-0.003371,0.009427,0.048953,0.016913,0.004462,0.025587,0.007159,1,0

In [6]:
df_test = df[:5]
df_test.set_value(0, "review", 5)
df_test.set_value(1, "review", 3)
df_test.set_value(2, "review", 5)
df_test.set_value(3, "review", 1)
df_test.set_value(4, "review", 4)

df_test.head()

,0,Unnamed: 2,1,2,3,4,5,6,7,8,...,93,94,95,96,97,98,99,100,constant,review
0,Buen Retiro Park,"40.4152606,-3.6866882",0.006074,0.015016,-0.019423,0.018564,-0.009759,-0.006886,-0.018433,-0.013909,...,-0.008650,-0.006834,-0.026950,0.027968,-0.008397,-0.025122,0.019847,0.017991,1,5
1,Royal Palace of Madrid,"40.417955,-3.7165007",-0.008575,0.011072,0.021896,0.037498,-0.007062,-0.015904,-0.032011,-0.022889,...,0.009787,0.014713,0.012928,0.059610,0.005517,-0.011633,0.039154,0.022247,1,3
2,"Plaza Mayor, Madrid","40.415511,-3.7095896",-0.059536,0.003807,0.026556,-0.021477,0.013773,0.000883,-0.025927,0.016453,...,-0.016771,-0.005197,0.001791,0.001192,0.014492,0.004249,-0.014706,0.040941,1,5
3,Museo Nacional Del Prado,"40.4137818,-3.6943158,17",-47.174987,-119.608533,129.087028,94.379929,14.554171,-107.823051,-32.864552,-121.548170,...,124.593445,-99.328298,18.251329,118.156372,-67.321282,-125.160456,92.102760,-16.275768,1,1
4,Puerta del Sol,"40.4167278,-3.7055274",-0.015574,-0.005585,0.023721,0.016333,-0.020572,-0.008376,-0.034828,0.026511,...,-0.003937,-0.003371,0.009427,0.048953,0.016913,0.004462,0.025587,0.007159,1,4

In [7]:
feature = list(map(lambda x: str(x), list(range(1,101)))) + ["constant"]
target = "review"

In [8]:
model = LinearRegression()

In [9]:
model.fit(df_test[feature], df_test[target])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [10]:
coef =list(model.coef_)
coef, beta = coef[:-1], coef[-1]

print(len(coef))
print(coef)
print(beta)

100
[-0.51333123414046966, 0.12833006892616128, -0.65154946463558727, -1.0800565540784146, 0.43314789732621284, 0.36067129605671244, 0.36089775008511071, 0.30370299678894275, -0.48672024013484783, 0.70333901694584988, -1.0646552159184204, -1.0263578975252783, 0.82949941982390507, -0.055503150644040822, -0.31707087716826976, 1.1949258864697145, -0.014597085225193152, 0.18840727526387144, 0.82622948662752937, 1.2699532254808985, -0.3932636695389487, 0.40165405192667075, -1.0114585641072085, 0.64908669331513347, 1.2555181265698052, 0.087912205244870797, 0.70769813414468774, -1.1486021775104489, -0.57752767611348788, 0.4786366423605084, -0.46907814617399296, -1.4113127196143813, 0.17172748148655473, 0.61074923270979586, 0.61182366938844879, -0.30980062778230882, 1.5301327551936652, 0.25568999420811056, 0.39734162504079873, 0.29258073754296543, 0.32033997159092853, -0.57939367621484283, 1.3796651794678705, -0.51876271481420644, -0.039196560138945839, -0.2483189977950071, -0.24835963572025202, -0.2986693945951307, -0.19707287634054793, 0.70929298901042426, -0.40704757619792226, -0.084400140823924233, 0.0030607523192440617, 0.93033851303603476, -0.42793263695465217, -0.51435676707416911, 1.0081935697755497, -0.78180281032141452, 0.57349871709880629, 0.94735446966397707, -0.44912399748082493, -0.060532487099307884, 0.46980610005836143, -0.65291480408335578, -0.43001385208128062, -1.1542196871119239, 0.050710348783079402, -1.3553294797524784, -0.88088010651468429, -0.38781424462307335, -0.34891645856593706, 1.4108881365098764, 1.3814343439327732, -0.39807770829427969, 0.21005125195026147, 0.49749603622090471, -0.10595005792158343, -1.3913552132242903, -0.97182223838446824, -1.4854056005144838, 0.55485458804321519, 0.0020013530049367359, 1.0716697531008963, -0.48711108507070194, -1.8963422124376146, -0.60589512624133202, -0.62285128911379806, 0.89941446925500357, 0.60588412069715747, 0.04293043463512497, 0.75784775745808652, -0.45951804489093495, -0.61830979012325271, -0.49690832984597427, -0.82205545860776019, -1.3950086356350617, -0.19798719694009989, -0.12020142771943707, -1.079815011334426, 0.39058163413141833]
0.0

In [11]:
A = np.asarray(coef)
AT = A.reshape(len(A), 1)
A = A.reshape(1, len(A))
ATA = np.matmul(AT, A)

In [40]:
X = np.matmul(np.linalg.inv(ATA+( 0.00000000001* np.random.rand(100, 100))), (5-beta) * AT) * 0.01

In [41]:
X = list(X.reshape(1, 100)[0])

In [42]:
print(len(X))
print(max(list(X)))
X

100
0.00907440185547

[0.00229736328125,
 0.0066027832031250004,
 -0.0063537597656250005,
 -0.0041174316406250005,
 -0.008250122070312501,
 -0.0056140136718750002,
 0.0086169433593750004,
 0.0027148437500000002,
 0.0029223632812500002,
 4.6386718750000001e-05,
 0.0048852539062500004,
 0.0018041992187500001,
 -0.0058114624023437502,
 -0.0042285156250000001,
 0.0051733398437500003,
 0.00044067382812499998,
 -0.0064865112304687503,
 -0.0023944091796875002,
 0.000513916015625,
 -0.0068420410156250005,
 -0.010590209960937499,
 -0.00189544677734375,
 0.000880126953125,
 -0.00260498046875,
 0.003406982421875,
 0.00040649414062500001,
 -0.001605224609375,
 0.0031469726562500001,
 -0.0022702980041503906,
 0.0015155029296875001,
 0.0071078491210937499,
 -0.0024487304687499998,
 -0.00011917114257812501,
 0.0020486450195312499,
 0.0042184448242187497,
 -0.00079711914062500003,
 -0.0028979492187500002,
 0.0054003906250000002,
 -0.0074699401855468752,
 -0.00469970703125,
 0.0030920410156250002,
 -0.001605224609375,
 0.0009765625,
 0.00091552734375,
 0.0018505859375,
 -0.002755126953125,
 0.0015176391601562501,
 -0.0039477539062500004,
 0.00567626953125,
 0.002552490234375,
 0.0066430664062500002,
 0.00065917968750000004,
 -0.00059570312499999999,
 0.0041497802734374997,
 -0.0031937408447265626,
 -0.0071752929687500001,
 0.0019793701171875,
 0.00327392578125,
 0.0042443847656250004,
 0.007529296875,
 0.00036254882812500002,
 -0.0069506835937499997,
 0.00096313476562500007,
 -0.003531494140625,
 0.0025573730468749999,
 -0.00099609375000000002,
 0.0019317626953125001,
 -0.0023217773437499999,
 -0.0046490478515625001,
 -0.0040518188476562503,
 0.0069024658203125002,
 0.0084716796875000007,
 0.0035693359375000002,
 -0.0037170410156249999,
 0.0090744018554687507,
 0.0010620117187500001,
 0.0016650390625000001,
 0.0011273193359374999,
 -0.0056616210937500003,
 0.0046258544921875004,
 0.0033129882812500001,
 -0.00248291015625,
 0.0084228515625,
 -0.0036218261718750002,
 -0.0024069213867187501,
 -0.00661376953125,
 -0.0064785766601562498,
 -0.0016937255859375,
 -0.0024487304687499998,
 0.00029785156249999999,
 0.00188232421875,
 0.0033605957031250001,
 -0.00072509765625000005,
 -0.001636962890625,
 -0.0019689941406249999,
 -0.00028205871582031249,
 0.0062500000000000003,
 0.0013476562500000001,
 0.00093872070312500005,
 -0.0085156250000000006]

In [43]:
col = list(map(lambda x: str(x), list(range(0,101))))
df2 = df[col]

df2.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,Buen Retiro Park,0.006074,0.015016,-0.019423,0.018564,-0.009759,-0.006886,-0.018433,-0.013909,-0.017161,...,0.034489,0.021697,-0.008650,-0.006834,-0.026950,0.027968,-0.008397,-0.025122,0.019847,0.017991
1,Royal Palace of Madrid,-0.008575,0.011072,0.021896,0.037498,-0.007062,-0.015904,-0.032011,-0.022889,0.013547,...,-0.015113,0.036001,0.009787,0.014713,0.012928,0.059610,0.005517,-0.011633,0.039154,0.022247
2,"Plaza Mayor, Madrid",-0.059536,0.003807,0.026556,-0.021477,0.013773,0.000883,-0.025927,0.016453,0.000892,...,-0.000753,0.008342,-0.016771,-0.005197,0.001791,0.001192,0.014492,0.004249,-0.014706,0.040941
3,Museo Nacional Del Prado,-47.174987,-119.608533,129.087028,94.379929,14.554171,-107.823051,-32.864552,-121.548170,-20.673760,...,125.951244,5.299161,124.593445,-99.328298,18.251329,118.156372,-67.321282,-125.160456,92.102760,-16.275768
4,Puerta del Sol,-0.015574,-0.005585,0.023721,0.016333,-0.020572,-0.008376,-0.034828,0.026511,-0.009717,...,0.014649,0.012851,-0.003937,-0.003371,0.009427,0.048953,0.016913,0.004462,0.025587,0.007159

# 유클리디안 거리

In [44]:
distance_lst1 = []

for idx in range(len(df2.values)) :
    XX =list(df2.iloc[idx][1:])
    d = dist(list(X), list(XX))
    distance_lst1.append((df2.iloc[idx][0],d))

In [45]:
d_df1 = pd.DataFrame.from_records(distance_lst1)
d_df1.head()

                          0           1
0          Buen Retiro Park    0.190903
1    Royal Palace of Madrid    0.300661
2       Plaza Mayor, Madrid    0.205523
3  Museo Nacional Del Prado  810.835050
4            Puerta del Sol    0.223149

In [46]:
sorted_d1 = sorted(distance_lst1, key = lambda x : x[1])
print(sorted_d1[:40])

[('Quinta Nova da Assun??o', 0.043093043846505322), ('Williams &amp; Humbert', 0.043146318235102926), ('Roman ruins of Troy - Portugal', 0.043148087827124454), ('Marques de Pombal Palace', 0.043215000519440258), ('Over Time Escape Room Pamplona', 0.043242211845150917), ('Leaning Tower of Zaragoza', 0.043250484687856625), ('Thyssen-Bornemisza Museum', 0.043369367158399501), ('Manuel de Falla House Museum', 0.043385711976788172), ('Corral del Carb?n', 0.043385711976788172), ('Reproductions Museum Bilbao', 0.043385711976788172), ('Playa de la Misericordia', 0.043385711976788172), ('Mosque of C?rdoba', 0.043385711976788172), ('Pueblo Espa?ol de Palma de Mallorca', 0.043385711976788172), ('Palacio de Monterrey', 0.043385711976788172), ('Casa de Santa Teresa de Jes?s', 0.043385711976788172), ('W?rzburg Park', 0.043385711976788172), ('San Mart?n Centro de Cultura Contempor?nea', 0.043385711976788172), ('Faro de la plata', 0.043385711976788172), ('Antigua fuente de Rua', 0.043385711976788172), ('Abbey of Santa Mar?a la Real de Las Huelgas', 0.043385711976788172), ('Paseo de la Audiencia', 0.043385711976788172), ('International Bagpipe Museum', 0.043385711976788172), ('Cerro de Santa Catalina', 0.043385711976788172), ('EnigmaPark', 0.043385711976788172), ('No?in Aqueduct', 0.043385711976788172), ('Parque de los sentidos', 0.043385711976788172), ('Statue of the Capitoline Wolf', 0.043385711976788172), ('Real Monasterio de Santo Tom?s', 0.043385711976788172), ('Casa de las Ciencias (La Coru?a)', 0.043385711976788172), ('Plaza del General Azc?rraga', 0.043385711976788172), ('Edificio De Las Mariposas', 0.043385711976788172), ('Cerro San Cristobal', 0.043385711976788172), ('Playa de Las Teresitas', 0.043385711976788172), ('Playa de las Teresitas', 0.043385711976788172), ('Museum of Popular Arts &amp; Customs', 0.043385711976788172), ('La Fuente De Los Ni?os', 0.043385711976788172), ('Roman walls of Lugo', 0.043385711976788172), ('Rocio Jurado monument', 0.043385711976788172), ('Falperra Church', 0.043385711976788172), ('Garden Central Avenue', 0.043385711976788172)]

# 코사인 유사도

In [47]:
distance_lst2 = []
vector_lst = []
X2 = (0, list(X))

for idx in range(len(df2)) :
    vector_lst.append((0, list(df2.iloc[idx][1:])))
    
for idx, idx2 in enumerate(vector_lst) :
    d = dist2(X2, idx2)
    distance_lst2.append((df2.iloc[idx][0],d))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

In [48]:
distance_lst2[0]

('Buen Retiro Park', -0.017397542128092077)

In [49]:
d_df2 = pd.DataFrame.from_records(distance_lst2)
d_df2.head()

                          0         1
0          Buen Retiro Park -0.017398
1    Royal Palace of Madrid -0.153562
2       Plaza Mayor, Madrid -0.050455
3  Museo Nacional Del Prado  0.030127
4            Puerta del Sol -0.157923

In [50]:
sorted_d2 = sorted(distance_lst2, key = lambda x : x[1], reverse = True)
print(sorted_d2[:40])

[('Palau de la M?sica Catalana', 0.24080074872325979), ('Sagrada Fam?lia', 0.1343948880444171), ('Montju?c', 0.12992696821388941), ('Gran V?a', 0.12766233244246719), ('Plaza de Espa?a', 0.12740539730353678), ('Cas?n del Buen Retiro', 0.10974278520153162), ('Madrid R?o', 0.078185004474828193), ('Parque Warner Madrid', 0.073899911936781373), ('Thyssen-Bornemisza Museum', 0.069128197375941489), ('La Rambla, Barcelona', 0.057468715693361767), ('Bernab?u Tour', 0.048971414068446392), ('Santiago Bernab?u Stadium', 0.048970389625654753), ('Park G?ell', 0.047032467714376927), ('Real Jard?n Bot?nico de Madrid', 0.04377341239221854), ('El Escorial', 0.04177057039857543), ('El Rastro', 0.035940096246125743), ('Museo Nacional Del Prado', 0.030127262317112834), ('Museum of Romanticism', 0.013601473590614616), ('Market of San Miguel', 0.010383823408088199), ('Temple of Debod', 0.0088412892838440459), ('Calle de Alcal?', 0.0079917079557629989), ('The Madrid Zoo Aquarium', 0.00091686628545088777), ('Buen Retiro Park', -0.017397542128092077), ('Teatro Real, Madrid', -0.021937029377167093), ('La Boqueria', -0.025899388843372576), ('Naval Museum of Madrid', -0.027131451876993069), ('Casa de Campo', -0.027422545714566843), ('Museo Nacional de Antropolog?a', -0.0297142713791766), ('CaixaForum Madrid', -0.035193173986477637), ('Parque de Atracciones de Madrid', -0.041566402128972592), ('Plaza de Oriente', -0.042220124704784305), ('Plaza de Cibeles', -0.047202698137446798), ('Plaza Mayor, Madrid', -0.050454688306804038), ('Museo Nacional de Ciencias Naturales', -0.055609810077101987), ('Camp Nou', -0.05796451417755575), ('Sorolla Museum', -0.089904264656990307), ('Puerta de Alcal?', -0.092362391365503352), ('Cuartel del Conde-Duque', -0.092365999452734007), ('Palacio de Cristal', -0.092366104270731081), ('Faunia', -0.092366224270087893)]

In [ ]:
def service2() :
    
    result = []
    
    df = pd.read_csv("vector.csv", encoding="cp949")
    df = df.drop("Unnamed: 0", axis = 1)
    df["constant"] = 1
    df["review"] = 0 
    
    df.set_value(0, "review", 5)
    df.set_value(1, "review", 2)
    df.set_value(2, "review", 4)
    df.set_value(3, "review", 1)
    df.set_value(4, "review", 5)
    
    df_test = df[df.review > 0]
    
    feature = list(map(lambda x: str(x), list(range(1,101)))) + ["constant"]
    target = "review"
    
    model = LinearRegression()
    model.fit(df_test[feature], df_test[target])
    
    coef =list(model.coef_)
    coef, beta = coef[:-1], coef[-1]
    
    A = np.asarray(coef)
    AT = A.reshape(len(A), 1)
    A = A.reshape(1, len(A))
    ATA = np.matmul(AT, A)
    
    X = np.matmul(np.linalg.inv(ATA+( 0.00000000001* np.random.rand(100, 100))), (5-beta) * AT) * 0.01
    X = list(X.reshape(1, 100)[0])
    
    col = list(map(lambda x: str(x), list(range(0,101))))
    df2 = df[col]
    
    distance_lst1 = []

    for idx in range(len(df2.values)) :
        XX =list(df2.iloc[idx][1:])
        d = dist(list(X), list(XX))
        distance_lst1.append((idx, df2.iloc[idx][0],d))
    
    d_df1 = pd.DataFrame.from_records(distance_lst1)
    sorted_d1 = sorted(distance_lst1, key = lambda x : x[2])
    
    distance_lst2 = []
    vector_lst = []
    X2 = (0, list(X))

    for idx in range(len(df2)) :
        vector_lst.append((0, list(df2.iloc[idx][1:])))

    for idx, idx2 in enumerate(vector_lst) :
        d = dist2(X2, idx2)
        distance_lst2.append((idx, df2.iloc[idx][0],d))
        
    sorted_d2 = sorted(distance_lst2, key = lambda x : x[2], reverse = True)
    
    result.extend(sorted_d1[:2])
    result.extend(sorted_d2[2:3])
    
    return result