In [2]:
sc

In [3]:
import pandas as pd

In [28]:
#sample

#rdd1_lst = []
#file = sc.textFile('file:///home/ubuntu/Ybigta/Project/bitcoin_project/data/sample.csv')
#rdd1_lst.append(file)
#rdd1_lst[0].take(5)

In [29]:
rdd1_lst = []
for idx in range(1, 15) :
    file = sc.textFile('file:///home/ubuntu/Ybigta/Project/bitcoin_project/data/data{}'.format(idx))
    rdd1_lst.append(file)
    
    #print(idx, ":",file.count())

rdd1_lst[0].take(5)

['timestamp,amount,price',
 '2017-02-13 10:33:09,0.39,985.5',
 '2017-02-13 10:33:43,2.0,985.5',
 '2017-02-13 10:34:07,0.139,985.5',
 '2017-02-13 10:34:09,0.03,985.5']

In [30]:
rdd2_lst = []
for idx, rdd in enumerate(rdd1_lst) :
    temp = rdd.filter(lambda line : "price" not in line)
    rdd2_lst.append(temp)
    #rdd1_lst[idx] = False
    
    #print(idx, ":",temp.count())
    
rdd2_lst[0].take(5)

['2017-02-13 10:33:09,0.39,985.5',
 '2017-02-13 10:33:43,2.0,985.5',
 '2017-02-13 10:34:07,0.139,985.5',
 '2017-02-13 10:34:09,0.03,985.5',
 '2017-02-13 10:34:35,-6.98,985.2']

In [39]:
def mapper(line, mode) :
    
    if mode == "4h" : 
        splited = line.split(",")
    
        date, time = splited[0].split()
        year, month, day = date.split("-")
        time = int(time.split(":")[0])
    
        amount = float(splited[1])
        price = float(splited[2])
        
        for idx in range(0, 21, 4) :
            if idx <= time and time < idx+4 :
                time = idx
                break
        
        if time < 10 :
            time = "0" + str(time)
        else :
            time = str(time)
            
        key = date + " " + time + ":00:00"
        value =  (amount, amount, price, price, price, price, price, 1, price*abs(amount), price*amount)
        return (key, value)
        
    elif mode == "6h" :
        splited = line.split(",")
    
        date, time = splited[0].split()
        year, month, day = date.split("-")
        time = int(time.split(":")[0])
    
        amount = float(splited[1])
        price = float(splited[2])
        
        for idx in range(0, 19, 6) :
            if idx <= time and time < idx+6 :
                time = idx
                break
                
        if time < 10 :
            time = "0" + str(time)
        else :
            time = str(time)
                
        key = date + " " + time + ":00:00"
        value =  (amount, amount, price, price, price, price, price, 1, price*abs(amount), price*amount)
        return (key, value)
        
    elif mode == "12h" :
        input_key = line[0]
        input_value = line[1]
        
        date, time = input_key.split()
        year, month, day = date.split("-")
        time = int(time.split(":")[0])
        
        for idx in range(0, 13, 12) :
            if idx <= time and time < idx+12 :
                time = idx
                break
                
        if time < 10 :
            time = "0" + str(time)
        else :
            time = str(time)
        
        key = date + " " + time + ":00:00"
        value = input_value
        return (key, value)
        
    elif mode == "1d" :
        input_key = line[0]
        input_value = line[1]
        
        date, time = input_key.split()
        year, month, day = date.split("-")
        time = int(time.split(":")[0])
                   
        key = date + " 00:00:00"
        value = input_value
        return (key, value)
    
    elif mode == "7d" :
        input_key = line[0]
        input_value = line[1]
        
        date, time = input_key.split()
        year, month, day = date.split("-")
        day = int(day)
        
        for idx in range(1, 32, 7) :
            if idx <= day and day < idx+7 :
                day = idx
                
                if day >= 22 :
                    day = 22
                
                
        if day < 10 :
            day = "0" + str(day)
        else :
            day = str(day)
        
        key = year + "-" + month + "-" + day + " 00:00:00"
        value = input_value
        return (key, value)
        
        
    elif mode == "1m" :
        input_key = line[0]
        input_value = line[1]
        
        date, time = input_key.split()
        year, month, day = date.split("-")
                   
        key = year + "-" + month + "-00 00:00:00"
        value = input_value
        return (key, value)

In [40]:
def reducer(x,y) :
    #부호
    sign = x[0] + y[0]
    
    #거래량
    amount = abs(x[1]) + abs(y[1])
    
    #시가
    start_price = x[2]
    
    #종가
    end_price = y[3]
    
    #최고가격
    max_price = max(x[4], y[4])
    
    #평균가격
    avg_price = (x[5]*x[7] + y[5]*y[7]) / (x[7]+y[7])
    
    #최저가격
    min_price = min(x[6], y[6])
    
    #거래횟수
    count = x[7] + y[7]
    
    #거래금액
    total_money = x[8] + y[8]
    
    #시총증감
    market_cap = x[9] + y[9]
    
    return (sign, amount, start_price, end_price, max_price, avg_price, min_price, count, total_money, market_cap)

In [41]:
rdd3_lst = []

for idx, rdd in enumerate(rdd2_lst) :
    rdd_4h = rdd.map(lambda line : mapper(line, "4h")).reduceByKey(lambda x,y : reducer(x,y))
    rdd_6h = rdd.map(lambda line : mapper(line, "6h")).reduceByKey(lambda x,y : reducer(x,y))
    rdd_12h = rdd_6h.map(lambda line : mapper(line, "12h")).reduceByKey(lambda x,y : reducer(x,y))
    rdd_1d = rdd_12h.map(lambda line : mapper(line, "1d")).reduceByKey(lambda x,y : reducer(x,y))
    rdd_7d = rdd_1d.map(lambda line : mapper(line, "7d")).reduceByKey(lambda x,y : reducer(x,y))
    rdd_1m = rdd_7d.map(lambda line : mapper(line, "1m")).reduceByKey(lambda x,y : reducer(x,y))
    
    rdd3_lst.append([rdd_4h,rdd_6h,rdd_12h,rdd_1d,rdd_7d,rdd_1m])
    #rdd2_lst[idx] = False
    print(idx)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [42]:
rdd3_lst[0][0].take(5)

[('2017-02-13 12:00:00',
  (276.33046248999995,
   1071.758302249999,
   990.91,
   992.79,
   992.9,
   990.9003986135178,
   986.9,
   1154,
   1062141.8600795693,
   274193.037093254)),
 ('2017-02-13 16:00:00',
  (0.2495288900000986,
   783.3258473099978,
   992.88,
   995.39,
   996.88,
   994.0527252747223,
   989.64,
   910,
   778133.6220460183,
   528.1515629759015)),
 ('2017-02-13 20:00:00',
  (175.93711095999967,
   967.4575365999985,
   995.06,
   996.5,
   999.9,
   996.7483828775253,
   993.2,
   841,
   964173.2125144713,
   175705.3945342737)),
 ('2017-02-14 00:00:00',
  (205.21141930999954,
   861.0315760899884,
   996.52,
   996.02,
   999.05,
   997.3644668989526,
   995.13,
   1435,
   858520.7923367467,
   204692.93388866947)),
 ('2017-02-14 04:00:00',
  (310.7467760500008,
   2230.141009069999,
   996.0,
   1004.0,
   1007.8,
   1001.056534541334,
   988.6,
   1766,
   2232592.2833704804,
   313053.46687578387))]

In [43]:
rdd4_lst = list(zip(*rdd3_lst))
print(len(rdd4_lst), len(rdd4_lst[0]))

6 14

In [44]:
rdd5_lst = []

for lst in rdd4_lst :
    result = sc.parallelize(range(0))
    
    for rdd in lst :
        result = result.union(rdd)
    result = result.reduceByKey(lambda x,y : reducer(x,y))
    
    print("check!")
    rdd5_lst.append(result)

check!
check!
check!
check!
check!
check!

In [45]:
print(len(rdd5_lst))
print("")
#rdd5_lst[0].take(5)
#rdd5_lst[1].take(5)
#rdd5_lst[2].take(5)
#rdd5_lst[3].take(5)
#rdd5_lst[4].take(5)
#rdd5_lst[5].take(5)

6

In [46]:
rdd5_lst[0].saveAsTextFile("file:///home/ubuntu/Ybigta/Project/bitcoin_project/output/output_4h")
rdd5_lst[1].saveAsTextFile("file:///home/ubuntu/Ybigta/Project/bitcoin_project/output/output_6h")
rdd5_lst[2].saveAsTextFile("file:///home/ubuntu/Ybigta/Project/bitcoin_project/output/output_12h")
rdd5_lst[3].saveAsTextFile("file:///home/ubuntu/Ybigta/Project/bitcoin_project/output/output_1d")
rdd5_lst[4].saveAsTextFile("file:///home/ubuntu/Ybigta/Project/bitcoin_project/output/output_7d")
rdd5_lst[5].saveAsTextFile("file:///home/ubuntu/Ybigta/Project/bitcoin_project/output/output_1m")

In [47]:
print(rdd5_lst[0].count())
rdd_4h = rdd5_lst[0].collect()

2352

In [48]:
print(rdd5_lst[1].count())
rdd_6h = rdd5_lst[1].collect()

1569

In [49]:
print(rdd5_lst[2].count())
rdd_12h = rdd5_lst[2].collect()

785

In [50]:
print(rdd5_lst[3].count())
rdd_1d = rdd5_lst[3].collect()

393

In [51]:
print(rdd5_lst[4].count())
rdd_7d = rdd5_lst[4].collect()

53

In [52]:
print(rdd5_lst[5].count())
rdd_1m = rdd5_lst[5].collect()

14

In [53]:
df_4h = pd.DataFrame.from_items(rdd_4h).T
df_6h = pd.DataFrame.from_items(rdd_6h).T
df_12h = pd.DataFrame.from_items(rdd_12h).T
df_1d = pd.DataFrame.from_items(rdd_1d).T
df_7d = pd.DataFrame.from_items(rdd_7d).T
df_1m = pd.DataFrame.from_items(rdd_1m).T

In [54]:
df_4h.head(20)

,0,1,2,3,4,5,6,7,8,9
2017-02-21 00:00:00,-11.876237,2593.005813,1091.800000,1085.30,1093.6,1088.233494,1085.0,1657.0,2.822308e+06,-1.239793e+04
2017-02-25 16:00:00,-1141.220151,8066.598994,1162.000000,1153.80,1163.0,1144.554482,1131.3,4440.0,9.226222e+06,-1.304313e+06
2017-02-27 00:00:00,53.432637,1946.723810,1178.700000,1191.00,1194.7,1188.461102,1178.7,1851.0,2.314917e+06,6.391866e+04
2017-03-14 08:00:00,922.705853,1753.055167,1225.400000,1240.50,1240.6,1233.114932,1225.4,1768.0,2.164311e+06,1.140452e+06
2017-03-25 20:00:00,3002.950271,7883.683132,944.300000,972.17,981.0,959.081194,937.0,5253.0,7.584790e+06,2.879144e+06
2017-03-26 04:00:00,-50.305253,1908.518372,970.000000,957.60,971.0,962.186373,950.1,1905.0,1.833827e+06,-4.733523e+04
2017-03-28 20:00:00,358.017608,4312.384993,1026.100000,1044.70,1046.8,1036.723973,1023.5,3579.0,4.475587e+06,3.728824e+05
2017-05-03 04:00:00,-494.878967,2741.757969,1575.000000,1551.60,1575.0,1555.696140,1541.9,3886.0,4.266654e+06,-7.725109e+05
2017-05-14 04:00:00,-103.889531,1383.350170,1828.700000,1845.90,1845.9,1822.940708,1807.9,2007.0,2.521545e+06,-1.844860e+05
2017-05-14 08:00:00,-137.836150,2133.791462,1845.800000,1818.50,1852.4,1832.939561,1807.1,3051.0,3.911701e+06,-2.426329e+05
2017-05-29 16:00:00,1183.336954,5232.193537,2138.000000,2215.60,2249.8,2199.548066,2130.0,8067.0,1.151308e+07,2.611364e+06
2017-05-30 16:00:00,1033.173932,3097.027212,2168.500000,2172.80,2210.0,2194.007053,2164.5,5346.0,6.791982e+06,2.260937e+06
2017-06-08 00:00:00,-330.909158,4978.282878,2644.100000,2684.70,2692.3,2634.831484,2527.0,5542.0,1.307923e+07,-8.060175e+05
2017-06-12 04:00:00,-478.629231,3681.659553,2934.764606,2865.00,2945.0,2887.833409,2840.0,7152.0,1.062085e+07,-1.387441e+06
2017-06-19 16:00:00,37.698933,2383.359372,2533.900000,2541.00,2593.9,2561.534793,2528.0,4475.0,6.107422e+06,1.048807e+05
2017-08-10 08:00:00,514.337275,3740.584875,3394.900000,3399.50,3425.0,3399.325463,3377.9,8911.0,1.271839e+07,1.752781e+06
2017-08-27 20:00:00,-175.366890,1583.708168,4360.100000,4332.80,4375.0,4348.827900,4325.6,4466.0,6.887674e+06,-7.583345e+05
2017-08-31 20:00:00,-362.099889,1681.163885,4707.400000,4718.30,4737.1,4722.293549,4704.7,4573.0,7.938246e+06,-1.708421e+06
2017-09-01 12:00:00,-137.641740,6396.574834,4788.300000,4828.70,4836.2,4811.678337,4765.8,10786.0,3.077234e+07,-6.546730e+05
2017-09-17 20:00:00,-132.221132,3623.695241,3713.200000,3666.60,3758.0,3700.720134,3645.5,7167.0,1.341072e+07,-4.674639e+05

In [55]:
df_6h.head(20)

,0,1,2,3,4,5,6,7,8,9
2017-02-21 00:00:00,276.643856,3279.165321,1091.8,1089.200000,1093.6,1088.286291,1085.0,2006.0,3.569377e+06,3.014804e+05
2017-02-27 00:00:00,-370.452716,2792.653313,1178.7,1181.000000,1194.7,1186.743846,1170.0,2543.0,3.312711e+06,-4.355602e+05
2017-03-02 06:00:00,-163.397381,2801.166044,1219.1,1232.400000,1234.1,1227.296231,1219.0,2786.0,3.439547e+06,-2.004434e+05
2017-04-04 18:00:00,415.970999,2421.720161,1136.0,1145.800000,1145.9,1137.717210,1130.2,3254.0,2.756444e+06,4.756319e+05
2017-04-21 06:00:00,317.950996,1825.485196,1321.1,1326.900000,1333.1,1321.825522,1313.2,3209.0,2.414488e+06,4.242347e+05
2017-05-05 18:00:00,-1432.462645,8045.835604,1588.5,1545.100000,1592.2,1556.115126,1505.0,12839.0,1.249589e+07,-2.220248e+06
2017-05-20 06:00:00,88.325888,4604.635801,1994.0,1977.400000,1998.9,1986.224659,1968.0,5499.0,9.148230e+06,1.917582e+05
2017-05-28 06:00:00,453.903860,5921.945462,2039.3,2135.000000,2194.4,2120.636563,2029.6,10445.0,1.259967e+07,9.615685e+05
2017-06-08 00:00:00,415.107028,6731.212078,2644.1,2770.000000,2780.0,2665.617254,2527.0,8003.0,1.787039e+07,1.232984e+06
2017-06-09 06:00:00,-49.221913,1357.371569,2780.0,2802.000000,2812.3,2791.597785,2763.9,2799.0,3.791804e+06,-1.357122e+05
2017-08-01 18:00:00,-532.925582,6513.152640,2721.9,2731.300000,2779.5,2744.001950,2700.1,10873.0,1.788426e+07,-1.451948e+06
2017-08-05 06:00:00,-712.252028,10266.171781,3119.0,3147.400000,3237.3,3169.023926,3115.9,19188.0,3.258119e+07,-2.219981e+06
2017-09-01 12:00:00,-312.231374,8645.297354,4788.3,4828.300000,4836.2,4813.747547,4765.8,16030.0,4.160594e+07,-1.493930e+06
2017-09-19 12:00:00,-64.457199,9241.095169,3988.5,3982.900000,4040.0,3989.162493,3939.4,13281.0,3.685187e+07,-2.218102e+05
2017-10-21 12:00:00,210.104090,23371.374143,6113.0,5994.700000,6199.9,6070.747568,5862.8,29191.0,1.415984e+08,1.564361e+06
2017-10-24 12:00:00,-1733.938170,11607.260899,5700.3,5694.700000,5733.0,5648.090438,5550.0,23949.0,6.553127e+07,-9.683934e+06
2017-11-04 18:00:00,1000.697192,12086.189819,7330.9,7369.900000,7530.0,7418.983224,7309.1,22080.0,8.974615e+07,7.550330e+06
2017-11-07 06:00:00,203.475786,5202.671153,7109.0,7166.700000,7200.7,7147.305481,7081.3,11750.0,3.717765e+07,1.468279e+06
2018-01-05 00:00:00,-1340.491337,6963.632135,15159.0,15009.000000,15193.0,14995.586447,14725.0,32330.0,1.044206e+08,-1.999231e+07
2017-12-22 06:00:00,-4753.100239,42971.101070,13865.0,13489.391964,14270.0,13193.746189,12110.0,124491.0,5.642043e+08,-5.804778e+07

In [56]:
df_12h.head(20)

,0,1,2,3,4,5,6,7,8,9
2017-02-21 00:00:00,1882.661391,10648.014369,1091.80,1115.5,1116.000000,1097.472955,1085.00,5709.0,1.170651e+07,2.079660e+06
2017-02-27 00:00:00,-481.248612,4593.785623,1178.70,1181.9,1194.700000,1184.681059,1170.00,4081.0,5.440369e+06,-5.661558e+05
2017-06-08 00:00:00,86.604642,9719.605644,2644.10,2725.0,2780.000000,2698.144258,2527.00,13025.0,2.609633e+07,3.364199e+05
2017-09-01 12:00:00,132.408157,17061.426966,4788.30,4907.7,4936.900000,4835.420120,4765.80,31977.0,8.255594e+07,7.176746e+05
2017-09-19 12:00:00,-1126.096754,21954.774593,3988.50,3892.2,4040.000000,3947.948003,3848.80,30114.0,8.660914e+07,-4.377125e+06
2017-10-21 12:00:00,-411.122576,31943.936768,6113.00,6005.1,6199.900000,6062.360490,5862.80,41636.0,1.933675e+08,-2.156456e+06
2017-10-24 12:00:00,-6315.166799,26007.867732,5700.30,5510.0,5733.000000,5607.416710,5457.40,43647.0,1.454208e+08,-3.505715e+07
2018-01-05 00:00:00,1007.190599,25584.250683,15159.00,16104.0,16242.000000,15409.500033,14725.00,86659.0,3.973847e+08,1.701760e+07
2018-02-05 12:00:00,-8620.230576,91579.802226,7585.80,6946.6,7808.626334,7189.000922,6651.00,189614.0,6.568075e+08,-6.198263e+07
2018-02-08 00:00:00,-1472.684212,39241.527642,7985.10,7985.1,8619.400000,8131.349184,7565.00,89630.0,3.187517e+08,-1.130285e+07
2018-02-14 12:00:00,5992.830290,33721.913058,8934.20,9455.5,9489.000000,9242.228147,8933.70,79200.0,3.111206e+08,5.499138e+07
2017-03-26 12:00:00,-1521.110815,23401.967079,972.83,968.9,1006.000000,977.221212,950.11,16161.0,2.284400e+07,-1.432550e+06
2017-03-28 00:00:00,1517.605142,8190.479444,1042.80,1065.6,1068.900000,1043.894296,1026.60,7276.0,8.573794e+06,1.611587e+06
2017-03-30 00:00:00,-485.945323,9356.921734,1041.70,1032.9,1053.500000,1039.323334,1025.10,13958.0,9.728376e+06,-4.951882e+05
2017-05-12 00:00:00,-1437.967763,7240.185042,1797.10,1796.5,1864.800000,1824.281879,1768.00,10391.0,1.317833e+07,-2.586109e+06
2017-05-18 00:00:00,-431.147766,4339.330740,1883.10,1882.9,1895.200000,1876.478062,1861.00,10548.0,8.145539e+06,-7.983588e+05
2017-06-18 00:00:00,-3281.699877,11823.007371,2611.30,2611.4,2640.000000,2558.246645,2450.10,16732.0,3.020219e+07,-8.333774e+06
2017-06-06 12:00:00,-965.866458,20882.805624,2821.90,2844.6,2899.700000,2801.140095,2676.00,28893.0,5.839638e+07,-2.621474e+06
2017-06-22 00:00:00,-1112.284755,5818.227749,2621.90,2640.2,2647.900000,2608.346606,2554.80,10910.0,1.516140e+07,-2.876813e+06
2017-08-23 00:00:00,680.796029,13269.012568,4083.90,4216.5,4255.200000,4136.121671,4045.00,26182.0,5.492930e+07,2.837272e+06

In [57]:
df_1d.head(50)

,0,1,2,3,4,5,6,7,8,9
2017-02-21 00:00:00,4346.660382,23519.556898,1091.80,1129.60,1134.0,1108.885097,1085.000000,12689.0,2.609007e+07,4.848749e+06
2017-02-27 00:00:00,-795.890982,10511.772617,1178.70,1195.50,1204.0,1187.629119,1170.000000,8661.0,1.248197e+07,-9.333584e+05
2017-06-08 00:00:00,287.990379,16130.233263,2644.10,2781.50,2789.5,2710.492137,2527.000000,26529.0,4.351379e+07,9.136926e+05
2018-01-05 00:00:00,4220.761350,55310.606617,15159.00,16401.00,17105.0,15954.729912,14725.000000,189984.0,8.855082e+08,7.058091e+07
2018-02-08 00:00:00,-9366.846043,78240.484720,8469.50,7985.10,8648.9,8227.345097,7565.000000,174486.0,6.432578e+08,-7.681614e+07
2017-03-28 00:00:00,-193.043501,23852.316981,1065.50,1065.60,1068.9,1043.628296,1016.200000,21240.0,2.489142e+07,-1.698185e+05
2017-03-30 00:00:00,-625.186380,24461.675949,1034.10,1032.90,1053.5,1034.630409,1021.200000,37647.0,2.531013e+07,-6.348997e+05
2017-05-12 00:00:00,-3168.451039,20780.727352,1797.10,1814.10,1864.8,1788.213118,1700.200000,30705.0,3.711578e+07,-5.580888e+06
2017-05-18 00:00:00,1593.006405,12438.707358,1883.10,1941.50,1954.6,1900.125656,1861.000000,22650.0,2.369103e+07,3.074233e+06
2017-06-22 00:00:00,-2483.971776,14812.076383,2640.20,2640.20,2709.0,2647.578514,2554.800000,28850.0,3.919262e+07,-6.524041e+06
2017-06-18 00:00:00,-4969.942477,19309.640672,2611.30,2491.40,2640.0,2530.403224,2420.000000,29656.0,4.887272e+07,-1.254217e+07
2017-08-23 00:00:00,-475.822300,26463.007811,4217.90,4216.50,4255.2,4146.475810,4045.000000,57560.0,1.098001e+08,-1.899723e+06
2017-09-21 00:00:00,-7027.867642,53375.064228,3874.80,3596.70,3905.0,3740.317903,3560.000000,70303.0,1.991900e+08,-2.581453e+07
2017-10-18 00:00:00,-340.284426,64950.069002,5302.00,5496.00,5597.9,5364.789457,5114.000000,82998.0,3.479596e+08,-1.679729e+06
2017-10-21 00:00:00,1247.655056,52990.694746,6113.00,6112.90,6199.9,6066.791598,5862.800000,75081.0,3.212060e+08,8.093777e+06
2017-10-08 00:00:00,5452.097393,27407.904531,4438.70,4578.00,4632.4,4530.518264,4416.300000,43173.0,1.239751e+08,2.466129e+07
2017-11-07 00:00:00,1261.757778,42539.576707,7166.70,7110.00,7220.0,7074.171920,6948.000000,77512.0,3.008657e+08,9.116727e+06
2017-12-05 00:00:00,567.121480,49701.227014,11503.00,11592.00,11961.0,11662.545247,11405.000000,135176.0,5.798779e+08,7.497342e+06
2017-12-21 00:00:00,-5889.931718,70448.194026,16425.00,15645.00,17333.0,16066.875457,14801.000000,272406.0,1.126449e+09,-9.150264e+07
2018-01-22 00:00:00,-5761.768999,67059.176880,10554.00,11458.00,11900.0,10923.932811,10009.000000,191744.0,7.269337e+08,-6.141000e+07
2017-03-25 00:00:00,2284.249128,42889.623690,942.14,972.17,981.0,933.210803,888.200000,31388.0,3.999881e+07,2.299664e+06
2017-06-23 00:00:00,-475.052936,7976.353839,2672.80,2674.90,2726.0,2690.241326,2652.000000,16788.0,2.146164e+07,-1.260124e+06
2017-07-23 00:00:00,-4796.487730,33972.768300,2844.70,2749.30,2877.5,2770.626049,2655.000000,39627.0,9.421980e+07,-1.332894e+07
2017-08-08 00:00:00,-2404.494554,30503.453419,3395.90,3387.10,3483.8,3417.061214,3340.000000,62796.0,1.042191e+08,-8.171791e+06
2017-08-24 00:00:00,3430.587302,20695.519041,4130.80,4322.10,4381.0,4207.258180,4089.900000,41426.0,8.734269e+07,1.460776e+07
2017-09-09 00:00:00,-1523.176368,29742.805812,4304.10,4315.90,4395.2,4282.276175,4151.000000,48559.0,1.272519e+08,-6.222544e+06
2018-01-02 00:00:00,-448.440337,57022.955725,13091.00,13889.00,15500.0,14079.545802,12795.000000,197829.0,8.066668e+08,-3.319413e+06
2018-01-21 00:00:00,-11019.862860,53940.937992,12119.00,12119.00,12732.0,11797.600253,11015.000000,171446.0,6.356171e+08,-1.315018e+08
2017-10-28 00:00:00,-241.176809,26340.777943,5718.30,5673.80,5864.0,5728.130668,5632.000000,52423.0,1.508957e+08,-1.239266e+06
2018-01-30 00:00:00,-7635.064300,62011.293804,10211.00,11005.00,11250.0,10518.278558,9860.400000,157960.0,6.492388e+08,-7.879076e+07
2018-02-14 00:00:00,7283.946575,51017.161078,8934.20,8850.00,9489.0,9060.361810,8512.100000,129423.0,4.631036e+08,6.637855e+07
2017-02-13 00:00:00,683.089814,3269.762418,990.91,990.91,999.9,992.753883,985.200000,3502.0,3.246705e+06,6.788685e+05
2017-04-22 00:00:00,-1925.409255,11367.221589,1327.00,1346.40,1354.9,1321.363493,1290.000000,17046.0,1.503089e+07,-2.521692e+06
2017-07-06 00:00:00,-967.034674,9690.326381,2598.50,2593.20,2607.1,2579.956105,2546.000000,24990.0,2.498626e+07,-2.478316e+06
2017-09-08 00:00:00,-7010.838102,58081.831442,4613.60,4310.00,4694.9,4374.055918,4105.000000,80515.0,2.528197e+08,-3.048885e+07
2017-09-15 00:00:00,4165.827963,171120.589023,3235.40,3697.10,3809.0,3378.269436,2980.400000,189078.0,5.745160e+08,1.834524e+07
2017-09-29 00:00:00,-1752.865728,37149.676930,4190.00,4168.00,4245.0,4139.478347,4024.400000,56214.0,1.536533e+08,-6.999084e+06
2017-10-23 00:00:00,-4553.212452,66330.976647,5982.40,5875.30,6055.0,5843.614707,5621.000000,85725.0,3.871948e+08,-2.552774e+07
2018-01-07 00:00:00,-5176.393832,25222.542913,17165.00,16239.00,17178.0,16467.880606,15712.000000,104609.0,4.143326e+08,-8.467759e+07
2018-02-10 00:00:00,-6356.074976,68824.627796,8679.10,8424.20,9074.9,8613.761817,8151.300000,170281.0,5.918299e+08,-5.204829e+07
2018-01-25 00:00:00,1896.178256,34703.004584,11390.00,11147.00,11734.0,11287.571963,10845.000000,121732.0,3.913234e+08,2.184355e+07
2017-04-02 00:00:00,1608.518467,19630.345839,1104.80,1087.40,1118.2,1099.989495,1080.900000,31643.0,2.161825e+07,1.787008e+06
2017-04-29 00:00:00,-181.803057,8518.406248,1421.50,1421.50,1439.5,1418.675308,1400.100000,15912.0,1.208352e+07,-2.442009e+05
2017-05-30 00:00:00,-192.006079,20873.225639,2240.70,2240.70,2265.0,2189.517192,2080.100000,38556.0,4.558284e+07,-3.538196e+05
2017-06-24 00:00:00,-2539.825568,16276.789045,2671.70,2672.30,2700.0,2582.431030,2452.869207,28404.0,4.185681e+07,-6.489737e+06
2017-08-11 00:00:00,2419.471549,25449.492523,3474.70,3643.40,3695.0,3520.767010,3380.000000,54235.0,8.976060e+07,8.481127e+06
2017-08-30 00:00:00,-2176.669513,16494.297473,4525.00,4610.90,4643.0,4569.085127,4481.000000,38848.0,7.531381e+07,-9.845678e+06
2017-09-07 00:00:00,493.947313,22580.524148,4604.10,4603.60,4675.0,4581.520150,4455.100000,48447.0,1.033848e+08,2.541862e+06
2017-11-14 00:00:00,189.080911,49678.932381,6414.90,6525.30,6689.5,6523.144175,6301.000000,101128.0,3.237776e+08,1.665461e+06
2017-11-20 00:00:00,4141.231825,38781.534696,8003.00,8253.00,8315.0,8151.634049,7925.000000,82560.0,3.163908e+08,3.391854e+07

In [58]:
df_7d.head(50)

,0,1,2,3,4,5,6,7,8,9
2017-06-08 00:00:00,-7328.906973,159744.076458,2644.10,2394.3,3003.0,2688.490083,2280.000000,299474.0,4.262122e+08,-1.789768e+07
2018-02-08 00:00:00,-7478.460257,406257.059904,8679.10,8850.0,9489.0,8494.531674,7565.000000,1004289.0,3.447332e+09,-5.012858e+07
2017-06-22 00:00:00,-15402.606968,168680.480443,2672.80,2472.4,2726.0,2480.033207,2207.800000,297362.0,4.163183e+08,-3.757526e+07
2017-10-08 00:00:00,25002.268930,340083.256622,4611.80,5705.1,5920.0,5156.486934,4416.300000,488358.0,1.760093e+09,1.251464e+08
2018-01-22 00:00:00,-5891.894860,464731.773352,10151.00,10000.0,12190.0,10925.170493,9760.000000,1381697.0,5.051846e+09,-4.778784e+07
2017-08-08 00:00:00,2715.393766,214279.307446,3395.90,4160.8,4330.3,3712.119129,3235.100000,427435.0,7.996133e+08,1.337097e+07
2017-04-22 00:00:00,1463.925430,86738.503736,1327.00,1421.5,1449.7,1384.348244,1290.000000,147919.0,1.198508e+08,2.193533e+06
2017-09-08 00:00:00,-30072.742509,388005.508999,4613.60,4212.9,4694.9,4022.314292,3204.700000,492184.0,1.538283e+09,-1.124925e+08
2017-09-15 00:00:00,-10461.194666,458453.528331,3235.40,3596.7,4119.0,3671.419925,2980.400000,584393.0,1.668478e+09,-3.294919e+07
2017-02-08 00:00:00,924.036913,15285.133131,990.91,1011.6,1019.0,1004.422295,985.200000,14892.0,1.535681e+07,9.216794e+05
2018-03-08 00:00:00,-11749.898592,294576.198322,9341.70,9563.0,10112.0,9166.116726,8342.000000,684012.0,2.695647e+09,-1.055675e+08
2018-03-01 00:00:00,-4129.147883,272135.604500,11500.00,10997.0,11700.0,10888.704031,9400.000000,748969.0,2.947586e+09,-3.818036e+07
2017-03-01 00:00:00,-5878.035889,144340.740426,1189.10,1232.4,1294.9,1252.251725,1185.000000,101173.0,1.803794e+08,-7.419214e+06
2017-12-22 00:00:00,-38076.243543,724064.537932,13173.00,14905.0,16494.0,13770.785813,10700.000000,2330874.0,9.925493e+09,-4.671700e+08
2017-05-22 00:00:00,-14478.187549,322870.792835,2027.00,2207.4,2690.0,2210.589749,1810.000000,544533.0,7.090475e+08,-2.921752e+07
2017-08-15 00:00:00,-8216.574544,267010.510380,4321.00,4090.1,4492.3,4150.039079,3832.500000,499265.0,1.107068e+09,-3.269438e+07
2017-07-08 00:00:00,-12740.952987,142316.145969,2318.30,2206.5,2555.7,2341.376068,2138.000000,238845.0,3.318454e+08,-2.951422e+07
2017-07-01 00:00:00,-8665.464045,97910.491219,2420.60,2461.1,2628.6,2501.591256,2291.000000,206664.0,2.442388e+08,-2.143006e+07
2017-09-22 00:00:00,13953.264338,291077.787268,3779.30,3930.1,4397.0,3961.087246,3490.000000,437602.0,1.151220e+09,5.648086e+07
2017-02-15 00:00:00,12170.259794,80002.744718,1013.40,1056.6,1134.0,1062.198263,1002.300000,54338.0,8.545606e+07,1.312366e+07
2017-10-01 00:00:00,1674.277451,169803.450306,4404.30,4215.9,4505.0,4327.927623,4133.000000,266366.0,7.353508e+08,8.219706e+06
2017-10-22 00:00:00,-17398.744634,465258.199450,5982.40,5673.8,6481.5,5861.085658,5365.300000,741561.0,2.727480e+09,-9.374496e+07
2017-07-15 00:00:00,-5961.863324,344035.279596,2206.50,2253.4,2922.0,2302.975811,1826.200000,401591.0,8.000889e+08,-1.102419e+07
2017-06-01 00:00:00,871.654176,129120.063628,2404.70,2803.1,2899.7,2555.537642,2187.300000,217396.0,3.330417e+08,1.372351e+06
2017-11-08 00:00:00,-26779.772321,644151.673373,7446.00,6430.0,7899.9,6590.875983,5400.200000,1075034.0,4.225947e+09,-1.741527e+08
2017-04-08 00:00:00,3860.835422,88052.497512,1197.50,1236.4,1244.7,1208.789441,1163.300000,96301.0,1.063763e+08,4.744673e+06
2017-12-01 00:00:00,24497.795649,574072.276658,13509.00,11415.0,16649.0,12303.512900,9370.100000,1300585.0,6.997084e+09,3.490503e+08
2017-10-15 00:00:00,1321.913957,330014.495864,5834.90,5665.0,6199.9,5701.019992,5114.000000,470630.0,1.880569e+09,1.239342e+07
2017-11-01 00:00:00,-15.353420,418256.158633,7370.00,7221.0,7598.0,7073.675828,6344.500000,731675.0,2.958154e+09,1.589560e+06
2017-12-15 00:00:00,-19178.396151,442017.095264,17569.00,19069.0,19891.0,17566.736865,14801.000000,1635954.0,7.766440e+09,-3.225756e+08
2018-01-08 00:00:00,-21657.017400,332103.353811,16028.00,13475.0,16093.0,14089.929066,12639.000000,1157081.0,4.675433e+09,-2.969351e+08
2018-01-01 00:00:00,-11632.024593,278739.563209,17165.00,13889.0,17252.0,15089.877082,12777.000000,1062920.0,4.206273e+09,-1.642451e+08
2018-01-15 00:00:00,-53223.778723,536166.516567,13581.00,13779.0,14356.0,11564.954587,9231.100000,1653044.0,6.153896e+09,-6.030574e+08
2017-09-01 00:00:00,-9833.860055,282832.880812,4207.50,4649.5,4970.0,4464.106581,3900.100000,488817.0,1.260914e+09,-4.247289e+07
2017-12-08 00:00:00,-26237.415449,627909.108893,14939.00,14624.0,17579.0,15604.569361,12730.636861,2059824.0,9.727550e+09,-3.925499e+08
2017-05-01 00:00:00,1143.733671,141820.102132,1435.30,1558.5,1702.0,1579.408310,1432.000000,230410.0,2.237453e+08,1.909572e+06
2017-06-15 00:00:00,-13470.730850,168291.933546,2437.50,2714.5,2780.0,2478.757566,2046.000000,269248.0,4.147131e+08,-3.301742e+07
2017-03-22 00:00:00,3655.721460,298795.612925,1115.70,1042.7,1116.0,1012.664441,888.200000,265460.0,3.010485e+08,4.139964e+06
2017-11-15 00:00:00,4647.678468,428509.315164,7773.20,8075.0,8380.0,7722.324500,6589.900000,790522.0,3.300907e+09,3.130871e+07
2018-02-01 00:00:00,-52609.174115,770093.382802,9181.00,8489.0,10336.0,8042.380088,6000.000000,1670074.0,6.120454e+09,-4.302328e+08
2017-03-08 00:00:00,4887.264227,249436.230099,1149.40,1251.4,1339.9,1193.682164,958.500000,161505.0,2.949333e+08,7.036005e+06
2017-07-22 00:00:00,-2831.492533,325124.036086,2844.70,2781.0,2917.0,2689.212947,2404.000000,409218.0,8.731759e+08,-5.430234e+06
2017-02-22 00:00:00,-912.279300,136458.908255,1130.10,1189.1,1222.4,1169.792504,1106.400000,88933.0,1.594896e+08,-9.030284e+05
2018-02-15 00:00:00,-637.574943,429682.329856,10161.00,11441.0,11788.0,10620.694869,9338.000000,1082029.0,4.563650e+09,8.451069e+05
2018-02-22 00:00:00,-10729.744968,350475.215651,9826.40,10706.0,11065.0,10111.276060,9280.400000,842137.0,3.545420e+09,-1.010940e+08
2017-05-15 00:00:00,-1193.628999,112175.282534,1785.40,2019.4,2099.1,1905.356714,1719.000000,180055.0,2.151316e+08,-2.787461e+06
2017-08-22 00:00:00,3510.985267,241359.279954,4130.80,4718.3,4749.9,4283.035902,3599.000000,457096.0,1.027072e+09,1.654007e+07
2017-04-15 00:00:00,10690.129606,72595.336589,1206.70,1308.5,1333.1,1256.002376,1190.000000,89336.0,9.128360e+07,1.355665e+07
2017-03-15 00:00:00,-27658.408263,293558.419101,1169.10,1115.9,1263.9,1093.743253,935.110000,209389.0,3.182543e+08,-3.062593e+07
2017-04-01 00:00:00,12915.350740,156732.257224,1145.70,1196.6,1209.0,1135.773487,1070.000000,182566.0,1.790055e+08,1.530658e+07

In [59]:
df_1m.head(20)

,0,1,2,3,4,5,6,7,8,9
2017-08-00 00:00:00,7766.072464,9.089799e+05,3395.9,4718.3,4749.9,3841.217940,2604.0,1737401.0,3.488218e+09,2.647708e+07
2017-11-00 00:00:00,-17297.725825,2.139144e+06,7370.0,8075.0,11441.0,7848.368922,5400.2,3886352.0,1.662470e+10,-8.640135e+07
2018-03-00 00:00:00,-15879.046475,5.667118e+05,9341.7,10997.0,11700.0,10066.452802,8342.0,1432981.0,5.643233e+09,-1.437478e+08
2018-02-00 00:00:00,-71454.954283,1.956508e+06,9181.0,10706.0,11788.0,9126.682497,6000.0,4598529.0,1.767686e+10,-5.806102e+08
2017-07-00 00:00:00,-30199.772889,9.093860e+05,2420.6,2781.0,2922.0,2468.756736,1826.2,1256318.0,2.249349e+09,-6.739870e+07
2017-06-00 00:00:00,-35330.590616,6.258366e+05,2404.7,2472.4,3003.0,2552.483379,2046.0,1083480.0,1.590285e+09,-8.711801e+07
2017-10-00 00:00:00,10599.715704,1.305159e+06,5834.9,5673.8,6481.5,5440.218818,4133.0,1966915.0,7.103492e+09,5.201460e+07
2017-09-00 00:00:00,-36414.532892,1.420370e+06,4613.6,3930.1,4970.0,4014.377328,2980.4,2002996.0,5.618896e+09,-1.314337e+08
2017-03-00 00:00:00,-24993.458466,9.861310e+05,1189.1,1115.9,1339.9,1108.189138,888.2,737527.0,1.094615e+09,-2.686917e+07
2017-05-00 00:00:00,-11507.693193,7.149715e+05,1435.3,2019.4,2690.0,1957.696915,1432.0,1172948.0,1.392532e+09,-2.439247e+07
2017-02-00 00:00:00,12182.017407,2.317468e+05,1013.4,1011.6,1222.4,1117.257151,985.2,158163.0,2.603025e+08,1.314231e+07
2018-01-00 00:00:00,-92404.715576,1.611741e+06,16028.0,13779.0,17252.0,12665.736100,9231.1,5254742.0,2.008745e+10,-1.112025e+09
2017-04-00 00:00:00,28930.241197,4.041186e+05,1145.7,1236.4,1449.7,1241.448515,1070.0,516122.0,4.965162e+08,3.580144e+07
2017-12-00 00:00:00,-58994.259494,2.368063e+06,17569.0,14905.0,19891.0,14873.378718,9370.1,7327237.0,3.441657e+10,-8.332452e+08

In [61]:
df_4h.to_csv("output/csv/bitcoin_4h.csv")
df_6h.to_csv("output/csv/bitcoin_6h.csv")
df_12h.to_csv("output/csv/bitcoin_12h.csv")
df_1d.to_csv("output/csv/bitcoin_1d.csv")
df_7d.to_csv("output/csv/bitcoin_7d.csv")
df_1m.to_csv("output/csv/bitcoin_1m.csv")